/*estilo del cuerpo y demas */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}
/*HEADER*/
#header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #333; 
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100; 
    transition: top 0.3s ease; 
}

/* Estructura principal */
.logo_imagen_principal {
    display: flex;
    align-items: center;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.logo-img {
    width: 50px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffe6cc; 
}

/* Estilos para el menú */
.burguesita {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
}

.menu-toggle {
    background:none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px; 
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    /* Mostrar el menú cuando esté activado */
    .nav-menu.active {
        display: flex;
    }
}

/* Transiciones suaves */
.nav-menu {
    transition: all 0.3s ease;
    list-style: none; 
    display: flex; 
    padding: 0;
    margin: 0;
    justify-content: flex-end; 
    flex-grow: 1; 
}
.nav-menu li {
    margin-left: 120px; 
    padding-left: 10px;
    align-content: center;
}

.nav-menu a {
    text-decoration: none; 
    color: #ffffff; 
    font-size: 18px;
    font-weight: bold;
}

.nav-menu a:hover {
    color: #ff4800;
}


/* Estilo solo del menu.html */
.menu1-list {
    padding: 40px 20px;
    background-color: #fff;
}

.menu1-list h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #ff4500;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.menu1-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}

.menu1-item:hover {
    transform: translateY(-10px);
}

.menu1-item img {
    width: 100%;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
}

.menu1-item h3 {
    font-size: 24px;
    margin: 15px 0;
    color: #333;
}

.menu1-item p {
    font-size: 18px;
    color: #ff4500;
    font-weight: bold;
}

/*hasta aqui menu1 |*/


.hero {
    background-color: #666;
    width: 100%;
    height: auto;
    color: white;
    padding: 100px 20px;
    text-align: center;
   
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
}

/*mostrar mas contenido*/

.card2-container {
    display: flex;
    flex-direction: row;  
    gap: 20px; 
    padding: 20px;
    max-width: 100%;
    overflow-x: auto;  
    white-space: nowrap; 
}

.card2 {
    flex: 0 0 auto;  
    width: 300px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}
.card2:hover {
    transform: translateY(-10px);
}

.card2 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card2 h3 {
    font-size: 1.5em;
    margin: 16px 0;
}

.card2 p {
    font-size: 1em;
    text-align: center;
    color: #555;
}

/* Botones Mostrar más y Mostrar menos */
.cta2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f08a24;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.cta2:hover {
    background-color: #d8741d;
}

/* Alinear los botones en fila */
.card2-container .cta2 {
    margin-right: 10px;
}

#show-less {
    display: none; 
}


/* scroll horizontal */
.card2-container {
    overflow-x: auto;
    white-space: nowrap; 
}


/*card 1 contenedores de primera insantancia*/

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.card h3 {
    font-size: 1.5em;
    margin: 16px 0;
    text-align: center;
}

.card p {
    font-size: 1em;
    text-align: center;
    color: #555;
}

.card .cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f08a24;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.card .cta:hover {
    background-color: #d8741d;
}

/* Estilos responsive para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .card {
        padding: 12px;
    }

    .card h3 {
        font-size: 1.2em;
    }

    .card p {
        font-size: 0.9em;
    }

    .card .cta {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 10px;
    }

    .card h3 {
        font-size: 1em;
    }

    .card p {
        font-size: 0.8em;
    }

    .card .cta {
        padding: 6px 12px;
    }
}

/* Slider */
.carousel-section {
    padding: 50px 0;
    text-align: center;
    background-color: #fff;
}

.carousel-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #ff4500;
}

/* Carrusel */
.slider {
    width: 60%; /* Ajusta el ancho del carrusel */
    margin: 0 auto; 
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.slide-track {
    display: flex;
    width: calc(350px * 4); 
    animation: slider 6s linear infinite;
}

.slide {
    width: 350px; 
    height: auto;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.slide2-track {
    display: flex;
    width: calc(350px * 4); 
    animation: sliderr 12s linear infinite;
}

.slide2 {
    width: 350px; 
    height: auto;
    flex-shrink: 0;
}

.slide2 img {
    width: 100%;
    border-radius: 10px;
}

/* Animación de deslizamiento */
@keyframes slider {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-300px);
    }
    66% {
        transform: translateX(-600px);
    }
    100% {
        transform: translateX(0); 
    }
}
@keyframes sliderr {
    0% {
        transform: translateX(-600px); 
    }
    33% {
        transform: translateX(-300px); 
    }
    66% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-600px); 
    }
}

/* Texto y botón debajo del carrusel */
.carousel-section p {
    margin-top: 20px;
    font-size: 20px;
    color: #000000;
    font-family: 'Poppins' ;
}

.ordenacta {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ff3300;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.ordenacta:hover {
    background-color: #eb4c1b;
    color: white;
}


/* Responsivo */
@media (max-width: 768px) {
    .prev, .next {
        display: none;
    }

    .slide-content h3 {
        font-size: 20px;
    }

    .slide-content p {
        font-size: 14px;
    }
}

/*Registrate parte del footer*/
.get-started-section {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.get-started-content {
    display: inline-block;
    text-align: left;
    animation: fadeInMove 2s ease-in-out forwards;
}

.get-started-content h2 {
    font-size: 2.5em;
    color: #f08a24;
    margin: 0;
    animation: bounceText 1s ease infinite alternate;
}

.get-started-content p {
    font-size: 1.2em;
    color: #ff270a;
    margin: 10px 0;
    animation: textColorChange 3s ease-in-out infinite alternate;
}

.bottom1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f08a24;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    animation: pulse 1.5s infinite;
}

.bottom1:hover {
    background-color: #d8741d;
}

/* movimiento para hcaica arriba */
@keyframes fadeInMove {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Rebote h2*/
@keyframes bounceText {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* Cambio de color de txt */
@keyframes textColorChange {
    0% {
        color: #333;
    }
    100% {
        color: #d8741d;
    }
}

/* Efecto de botom*/
@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: #f08a24;
    }
    50% {
        transform: scale(1.1);
        background-color: #ffaf4b;
    }
    100% {
        transform: scale(1);
        background-color: #f08a24;
    }
}


/* Footer Section */
.footer-reviews {
    background-color: #f8f8f8; /* Fondo claro para resaltar las reseñas */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    max-width: 400px; /* Ancho máximo para mantener la legibilidad */
    margin: 20px auto; /* Centrar el bloque en el contenedor */
}
.footer-reviews h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}
.footer-reviews .review {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd; /* Línea divisoria entre reseñas */
}

.footer-reviews .review p {
    font-size: 16px;
    color: #555;
    font-style: italic; /* Texto en cursiva para estilo de cita */
}

.footer-reviews .review span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #888;
    text-align: right; /* Alineación del nombre del cliente a la derecha */
}

@media (max-width: 768px) {
    .footer-reviews {
        max-width: 100%; /* Ocupa el ancho completo en pantallas pequeñas */
        padding: 15px;
    }

    .footer-reviews h3 {
        font-size: 20px;
    }

    .footer-reviews .review p {
        font-size: 15px;
    }

    .footer-reviews .review span {
        font-size: 13px;
    }
}

.footer-section {
    background-color: #1f1f1f; 
    padding: 60px 40px; 
    color: #ffffff; 
}

.footer-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    text-align: center; 
    gap: 40px; 
}

.footer-left {
    width: 40%;
}

.footer-logo {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffdd57; 
}

.footer-right {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffdd57; 
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 15px;
    color: #cccccc; 
    cursor: pointer;
}

.footer-column ul li a {
    color: #bbbbbb;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #ffdd57; 
}

/* Redes sociales */
.social-links li {
    display: inline-block;
    margin-right: 15px;
}

.social-links li a {
    color: #bbbbbb;
    font-size: 18px;
    transition: color 0.3s ease;
}

.social-links li a:hover {
    color: #ffdd57;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444444;
    margin-top: 40px;
    color: #777777;
}

.footer-bottom a {
    color: #ffdd57;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-bottom a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    .footer-left,
    .footer-right {
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        gap: 20px;
    }
}

/*Contenido del contacto*/
.contact-form {
    background-color: #f9f9f9; 
    padding: 40px; 
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto; 
}

.contact-form h1 {
    text-align: center; 
    color: #ff4500; 
    margin-bottom: 20px; 
    font-size: 28px;
}

.form-group {
    margin-bottom: 20px; 
}

label {
    display: block; 
    margin-bottom: 8px; 
    font-weight: bold; 
    color: #333; 
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    transition: border-color 0.3s; 
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #ff4500; 
    outline: none; 
}

textarea {
    height: 100px; 
    resize: none; 
}

.submit-button {
    width: 100%; 
    padding: 12px;
    background-color: #ff4500; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.submit-button:hover {  
    font-size: 15px;
    background-color: #ff2600; 
    color: #fff; 
}


/*Estilo del about me xd*/

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px; 
    margin-bottom: 40px; 
}

.history-section {
    width: 60%;
    line-height: 1.8;
    margin-bottom: 20px;
}

.about-images {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.image-large {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-small {
    width: 48%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.why-choose-us {
    margin-top: 50px;
    padding: 0 40px;
}

.why-choose-us ul {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
}

.why-choose-us li {
    margin-bottom: 15px; 
}

.why-choose-us h2 {
    margin-bottom: 20px; 
    text-align: center; 
}

.about-us h1 {
    text-align: center;
    margin-bottom: 30px;
}
.about-us {
    padding: 0 40px; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.history-section {
    line-height: 1.8;
    margin-bottom: 20px;
}

.footer-logo_ {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ff2600; 
}

/*Estilos de la parte de la carta :*/

.menu-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.download-menu-btn, .order-online-btn {
    padding: 10px 20px;
    background-color: #ff4500;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.download-menu-btn:hover, .order-online-btn:hover {
    background-color: #e03e00;
}

/* Estilos generales del menú */
.our-menu {
    text-align: center;
    padding: 50px 20px;
    background-color: #f5f5f5;
}

.our-menu h2 {
    color: #ff4500;
    font-size: 36px;
    margin-bottom: 10px;
}

.our-menu p {
    font-size: 18px;
    margin-bottom: 40px;
}

.menu-category {
    margin-bottom: 40px;
}

.menu-item {
    display: inline-block;
    margin: 0 15px;
    padding: 20px;
    max-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}
.menu-item:hover {
    transform: translateY(-10px);
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.menu-item h4 {
    color: #333;
    font-size: 22px;
    margin-bottom: 5px;
}

.menu-item p {
    color: #666;
    font-size: 16px;
}

.menu-item strong {
    color: #ff4500;
    font-size: 20px;
    font-weight: bold;
}


/* Sección de descargar menú */
.download-menu-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #f5f5f5;
}

.download-menu-section h1 {
    font-size: 36px;
    color: #ff4500;
    margin-bottom: 20px;
}

.download-menu-section p {
    font-size: 18px;
    margin-bottom: 30px;
}

.download-menu-btn {
    padding: 10px 20px;
    background-color: #ff4500;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Sección de pedido en línea */
.online-order-section {
    padding: 50px 20px;
    background-color: #f5f5f5;
    text-align: center;
}

.online-order-section h1 {
    font-size: 36px;
    color: #ff4500;
    margin-bottom: 20px;
}

.order-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.order-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.order-form input, .order-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.order-form input[type="checkbox"] {
    width: auto;
}

.order-btn {
    padding: 10px 20px;
    background-color: #ff4500;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


/* pedido online, imagen en cada option */
#burger-image-container {
    margin-top: 20px;
    text-align: center;
}

#burger-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*icono de whatsapp flotante*/
.whatsapp_float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-icon {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
